.navbar-right-aligned {
    padding-left: 450px;
    padding-top: 30px;
}

.navbar-brand {
    padding-left: 250px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

h6 {
    font-weight:lighter;
}

.button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

legend {
    color: green;
}

fieldset {
    background-color: lightgray;
}